{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-2 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li role="presentation"><a href="{{ url_for('main.deploy') }}">Deploy</a></li>
                    <li role="presentation"><a href="{{ url_for('main.project') }}">Project</a></li>
                    <li role="presentation" class="active"><a href="{{ url_for('auth.user') }}">User</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-xs-12">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <!--<li><a href="{{ url_for('auth.user') }}">User</a></li>-->
        <li class="active">User</li>
    </ol>
        <a href="{{ url_for('auth.user_add') }}" class="btn btn-primary btn-sm active" role="button">New User</a>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Job</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mr.boer</td>
                    <td>boer0924@qq.com</td>
                    <td>DevOps</td>
                    <td>13527335199</td>
                    <td>
                        <a role="button" class="btn btn-default btn-xs" href="#">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a role="button" class="btn btn-default btn-xs" href="#">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}