{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-2 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li role="presentation" class="active"><a href="{{ url_for('main.deploy') }}">Deploy</a></li>
                    <li role="presentation"><a href="{{ url_for('main.project') }}">Project</a></li>
                    <li role="presentation"><a href="{{ url_for('auth.user') }}">User</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-xs-12">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.deploy') }}">Deploy</a></li>
        <li class="active">Rollback</li>
    </ol>
    <form class="form-horizontal">
        {{ form.csrf_token }}
        <div class="form-group">
            <label class="col-sm-2 control-label">Project:</label>
            <div class="col-sm-4">
                {{ form.project(class="form-control", placeholder="Project Name") }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Commit ID:</label>
            <div class="col-sm-4">
                {{ form.commit(class="form-control", placeholder="Commit ID") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success">Rollback</button>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}