{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/deploy.css">
{% endblock %}
{% block layer %}
{{ super() }}
<div class="layui-tab-item" id="deploy-info-ctx">
    <form class="layui-form boer-layer-form" method="post">
        <div class="layui-form-item boer-layer-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" required  lay-verify="required" placeholder="项目名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item boer-layer-item">
            <label class="layui-form-label">commit id</label>
            <div class="layui-input-block">
                <input type="text" name="version" required  lay-verify="required" placeholder="commit id" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item boer-layer-item">
            <label class="layui-form-label">测试环境</label>
            <div class="layui-input-block">
              <input type="radio" name="environ" value="0" title="30测试">
              <input type="radio" name="environ" value="1" title="31测试">
              <input type="radio" name="environ" value="2" title="线上环境">
            </div>
        </div>
        <div class="layui-form-item boer-layer-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="deployTest">绑定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<div class="layui-tab-item" id="results-ctx">
  <form class="layui-form boer-layer-form" method="post">
    <div class="layui-form-item boer-layer-item">
      <label class="layui-form-label">是否通过</label>
      <div class="layui-input-block">
        <input type="checkbox" name="result" lay-skin="switch">
      </div>
    </div>
    <div class="layui-form-item boer-layer-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="testResult">提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div> 
  </form>
</div>
<div class="layui-tab-item" id="verify-results-ctx">
  <form class="layui-form boer-layer-form" method="post">
    <div class="layui-form-item boer-layer-item">
      <label class="layui-form-label">是否通过</label>
      <div class="layui-input-block">
        <input type="checkbox" name="result" lay-skin="switch">
      </div>
    </div>
    <div class="layui-form-item boer-layer-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="verifyResult">提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div> 
  </form>
</div>
<div class="layui-tab-item" id="release-ctx">
  <form class="layui-form boer-layer-form" method="post">
    <div class="layui-form-item boer-layer-item">
      <label class="layui-form-label">版本概述</label>      
      <div class="layui-input-block">
        <textarea name="release" placeholder="版本概述" class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item boer-layer-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="releaseVersion">提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div> 
  </form>
</div>
{% endblock %}
{% block content %}
<div class="inliner"></div>
<div class="inlined">
  <div class="progress-meter">
    <div class="track">
      <span class="progress"></span>
    </div>
    <ol class="progress-points" data-current="1">
      <li id="deploy-info-btn" class="progress-point" data-point="1">
        <span class="label">填写信息</span>
      </li>
      <li class="progress-point" data-point="2">
        <span class="label">提测是否冲突</span>
      </li>
      <li id="test-result-btn" class="progress-point" data-point="3">
        <span class="label">测试</span>
      </li>
      <li class="progress-point" data-point="4">
        <span class="label">上线是否冲突</span></li>
      <li id="verify-result-btn" class="progress-point" data-point="5">
        <span class="label">验证</span>
      </li>
      <li id="release-version-btn" class="progress-point" data-point="6">
        <span class="label">发布版本</span>
      </li>
      <li class="progress-point" data-point="7">
        <span class="label">完成</span>
      </li>
    </ol>
  </div>
  <!--<div class="controls">
    <button class="trigger">循环执行过程</button>
    <p>点击每个阶段来模拟过程</p>
  </div>-->
</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="/static/js/projects/deploy.js"></script>
{% endblock %}